#tickerInput {
    width:35%;
    margin-right: 1rem;
}

#flex-container {
    display: flex;
    justify-content: center;
}

#pageFooter {
    background-color: lightgrey;
}

#chartContainer {
    width: 65%;
}

#errorContainer {
    width: 50%;
}